.bg-box {
    width: 800px;
    height: 800px;
    background: red;
    position: absolute;
    display: flex;
    flex-grow: 0;
}

.flex-s {
    background: blue;
    width: 200px;
    height: 780px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-style: unset;
    row-gap: 10px;
    top: 10px;
    margin: auto;
}

.child {
    background: purple;
    width: 125px;
    height: 75px;
    padding: 10px;
    flex-shrink: 0;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: absolute;
}

.green {
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: calc(100% - 110px)
}


.bottom {
    align-self: end;
}

.center {
    align-self: center;
}